@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-surface-secondary: var(--surface-secondary);
  --color-surface-secondary-hover: var(--surface-secondary-hover);
  --color-surface-tertiary: var(--surface-tertiary);
  --color-surface-tertiary-hover: var(--surface-tertiary-hover);
  --color-surface-brand: var(--surface-brand);
  --color-surface-inverse: var(--surface-inverse);
  --color-surface-inverse-hover: var(--surface-inverse-hover);
  --color-surface-brand-hover: var(--surface-brand-hover);
  --color-surface-brand-subtle: var(--surface-brand-subtle);
  --color-surface-brand-subtle-hover: var(--surface-brand-subtle-hover);
  --color-surface-brand-strong: var(--surface-brand-strong);
  --color-surface-brand-strong-hover: var(--surface-brand-strong-hover);
  --color-surface-accent: var(--surface-accent);
  --color-surface-accent-hover: var(--surface-accent-hover);
  --color-surface-accent-subtle: var(--surface-accent-subtle);
  --color-surface-accent-subtle-hover: var(--surface-accent-subtle-hover);
  --color-surface-accent-strong: var(--surface-accent-strong);
  --color-surface-accent-strong-hover: var(--surface-accent-strong-hover);
  --color-surface-danger: var(--surface-danger);
  --color-surface-danger-hover: var(--surface-danger-hover);
  --color-surface-danger-subtle: var(--surface-danger-subtle);
  --color-surface-danger-subtle-hover: var(--surface-danger-subtle-hover);
  --color-surface-success: var(--surface-success);
  --color-surface-danger-strong: var(--surface-danger-strong);
  --color-surface-success-hover: var(--surface-success-hover);
  --color-surface-danger-strong-hover: var(--surface-danger-strong-hover);
  --color-surface-success-subtle: var(--surface-success-subtle);
  --color-surface-success-subtle-hover: var(--surface-success-subtle-hover);
  --color-surface-warning: var(--surface-warning);
  --color-surface-success-strong: var(--surface-success-strong);
  --color-surface-warning-hover: var(--surface-warning-hover);
  --color-surface-success-strong-hover: var(--surface-success-strong-hover);
  --color-surface-warning-subtle: var(--surface-warning-subtle);
  --color-surface-warning-subtle-hover: var(--surface-warning-subtle-hover);
  --color-surface-disabled: var(--surface-disabled);
  --color-surface-warning-strong: var(--surface-warning-strong);
  --color-surface-warning-strong-hover: var(--surface-warning-strong-hover);
  --color-surface-disabled-secondary: var(--surface-disabled-secondary);
  --color-text: var(--text);
  --color-text-subtle: var(--text-subtle);
  --color-text-subtlest: var(--text-subtlest);
  --color-text-oninverse: var(--text-oninverse);
  --color-text-ondisabled: var(--text-ondisabled);
  --color-text-brand: var(--text-brand);
  --color-text-brand-subtle: var(--text-brand-subtle);
  --color-text-brand-strong: var(--text-brand-strong);
  --color-text-onbrand: var(--text-onbrand);
  --color-text-onbrand-subtle: var(--text-onbrand-subtle);
  --color-text-onbrand-subtlest: var(--text-onbrand-subtlest);
  --color-text-accent: var(--text-accent);
  --color-text-accent-subtle: var(--text-accent-subtle);
  --color-text-accent-strong: var(--text-accent-strong);
  --color-text-onaccent: var(--text-onaccent);
  --color-text-onaccent-subtle: var(--text-onaccent-subtle);
  --color-text-onaccent-subtlest: var(--text-onaccent-subtlest);
  --color-text-danger: var(--text-danger);
  --color-text-danger-subtle: var(--text-danger-subtle);
  --color-text-ondanger: var(--text-ondanger);
  --color-text-danger-strong: var(--text-danger-strong);
  --color-text-ondanger-subtle: var(--text-ondanger-subtle);
  --color-text-ondanger-subtlest: var(--text-ondanger-subtlest);
  --color-text-success: var(--text-success);
  --color-text-success-subtle: var(--text-success-subtle);
  --color-text-success-strong: var(--text-success-strong);
  --color-text-onsuccess: var(--text-onsuccess);
  --color-text-onsuccess-subtle: var(--text-onsuccess-subtle);
  --color-text-onsuccess-subtlest: var(--text-onsuccess-subtlest);
  --color-text-warning: var(--text-warning);
  --color-text-warning-subtle: var(--text-warning-subtle);
  --color-text-warning-strong: var(--text-warning-strong);
  --color-text-onwarning: var(--text-onwarning);
  --color-text-disabled: var(--text-disabled);
  --color-text-onwarning-subtle: var(--text-onwarning-subtle);
  --color-text-onwarning-subtlest: var(--text-onwarning-subtlest);
  --color-border: var(--border);
  --color-border-strong: var(--border-strong);
  --color-border-strongest: var(--border-strongest);
  --color-border-brand: var(--border-brand);
  --color-border-brand-strong: var(--border-brand-strong);
  --color-border-onbrand: var(--border-onbrand);
  --color-border-onbrand-subtle: var(--border-onbrand-subtle);
  --color-border-accent: var(--border-accent);
  --color-border-accent-strong: var(--border-accent-strong);
  --color-border-onaccent: var(--border-onaccent);
  --color-border-onaccent-subtle: var(--border-onaccent-subtle);
  --color-border-danger: var(--border-danger);
  --color-border-danger-strong: var(--border-danger-strong);
  --color-border-ondanger: var(--border-ondanger);
  --color-border-ondanger-subtle: var(--border-ondanger-subtle);
  --color-border-success: var(--border-success);
  --color-border-success-strong: var(--border-success-strong);
  --color-border-onsuccess: var(--border-onsuccess);
  --color-border-onsuccess-subtle: var(--border-onsuccess-subtle);
  --color-border-warning: var(--border-warning);
  --color-border-warning-strong: var(--border-warning-strong);
  --color-border-onwarning: var(--border-onwarning);
  --color-border-onwarning-strong: var(--border-onwarning-strong);
  --color-ring: var(--ring);
  --color-ring-brand: var(--ring-brand);
  --color-ring-danger: var(--ring-danger);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
}

:root {
  --neutral-1: oklch(100% 0 0);
  --neutral-2: oklch(98.21% 0 0);
  --neutral-3: oklch(95.51% 0 0);
  --neutral-4: oklch(93.1% 0 0);
  --neutral-5: oklch(90.97% 0 0);
  --neutral-6: oklch(88.53% 0 0);
  --neutral-7: oklch(85.14% 0 0);
  --neutral-8: oklch(79.21% 0 0);
  --neutral-9: oklch(64.01% 0 0);
  --neutral-10: oklch(60.32% 0 0);
  --neutral-11: oklch(49.97% 0 0);
  --neutral-12: oklch(23.93% 0 0);
  --brand-1: oklch(99.11% 0 0);
  --brand-2: oklch(98.21% 0 0);
  --brand-3: oklch(95.51% 0 0);
  --brand-4: oklch(93.1% 0 0);
  --brand-5: oklch(90.97% 0 0);
  --brand-6: oklch(88.53% 0 0);
  --brand-7: oklch(85.14% 0 0);
  --brand-8: oklch(79.21% 0 0);
  --brand-9: oklch(15.43% 0 0);
  --brand-10: oklch(27.27% 0 0);
  --brand-11: oklch(49.97% 0 0);
  --brand-12: oklch(23.93% 0 0);
  --accent-1: oklch(99.17% 0.0045 134.85);
  --accent-2: oklch(98.19% 0.0129 130.78);
  --accent-3: oklch(96.05% 0.0542 130.1);
  --accent-4: oklch(93.31% 0.084 130.45);
  --accent-5: oklch(89.79% 0.1061 130.14);
  --accent-6: oklch(85.39% 0.1199 130.02);
  --accent-7: oklch(79.5% 0.132 129.92);
  --accent-8: oklch(72.43% 0.1599 129.97);
  --accent-9: oklch(88.78% 0.2097 129.96);
  --accent-10: oklch(85.73% 0.2237 129.94);
  --accent-11: oklch(54.31% 0.1329 130.01);
  --accent-12: oklch(35.23% 0.0673 130.29);
  --danger-1: oklch(99.31% 0.0035 39.49);
  --danger-2: oklch(98.4% 0.008 36.55);
  --danger-3: oklch(95.44% 0.0233 37.38);
  --danger-4: oklch(91.64% 0.0441 37.18);
  --danger-5: oklch(88.2% 0.0637 35.25);
  --danger-6: oklch(84.85% 0.084 34.31);
  --danger-7: oklch(80.4% 0.1054 33.87);
  --danger-8: oklch(74.19% 0.1309 34.06);
  --danger-9: oklch(64.24% 0.2123 33.72);
  --danger-10: oklch(60.2% 0.2142 33.75);
  --danger-11: oklch(57.12% 0.2117 32.83);
  --danger-12: oklch(34.68% 0.0851 33.61);
  --success-1: oklch(99.32% 0.0058 153.78);
  --success-2: oklch(98.14% 0.0099 155.1);
  --success-3: oklch(96.2% 0.0265 152.38);
  --success-4: oklch(93.41% 0.0423 152.77);
  --success-5: oklch(90.17% 0.0616 152.23);
  --success-6: oklch(85.71% 0.0808 152.76);
  --success-7: oklch(79.95% 0.1088 152.1);
  --success-8: oklch(71.52% 0.1481 152.32);
  --success-9: oklch(65.95% 0.1678 152.32);
  --success-10: oklch(62.13% 0.1619 152.36);
  --success-11: oklch(53.07% 0.1432 150.88);
  --success-12: oklch(32.58% 0.0598 152.58);
  --warning-1: oklch(99.4% 0.0041 91.45);
  --warning-2: oklch(98.44% 0.0229 93.32);
  --warning-3: oklch(96.28% 0.0701 97.89);
  --warning-4: oklch(93.82% 0.104 96.09);
  --warning-5: oklch(91.33% 0.1318 94.11);
  --warning-6: oklch(88.08% 0.1249 89.74);
  --warning-7: oklch(83.08% 0.1198 89.78);
  --warning-8: oklch(76.16% 0.1362 90.1);
  --warning-9: oklch(87.3% 0.1786 92.23);
  --warning-10: oklch(85% 0.1691 89.7);
  --warning-11: oklch(57.31% 0.1173 85.9);
  --warning-12: oklch(35.3% 0.0445 87.94);
  --black-1: oklch(0% 0 0 / 0.02);
  --black-2: oklch(0% 0 0 / 0.04);
  --black-3: oklch(0% 0 0 / 0.06);
  --black-4: oklch(0% 0 0 / 0.09);
  --black-5: oklch(0% 0 0 / 0.13);
  --black-6: oklch(0% 0 0 / 0.18);
  --black-7: oklch(0% 0 0 / 0.26);
  --black-8: oklch(0% 0 0 / 0.38);
  --black-9: oklch(0% 0 0 / 0.55);
  --black-10: oklch(0% 0 0 / 0.75);
  --black-11: oklch(0% 0 0 / 0.88);
  --black-12: oklch(0% 0 0);
  --white-1: oklch(100% 0 0 / 0.03);
  --white-2: oklch(100% 0 0 / 0.06);
  --white-3: oklch(100% 0 0 / 0.1);
  --white-4: oklch(100% 0 0 / 0.15);
  --white-5: oklch(100% 0 0 / 0.21);
  --white-6: oklch(100% 0 0 / 0.28);
  --white-7: oklch(100% 0 0 / 0.38);
  --white-8: oklch(100% 0 0 / 0.5);
  --white-9: oklch(100% 0 0 / 0.65);
  --white-10: oklch(100% 0 0 / 0.82);
  --white-11: oklch(100% 0 0 / 0.89);
  --white-12: oklch(100% 0 0);
  --bw-1: oklch(0% 0 0 / 0.02);
  --bw-2: oklch(0% 0 0 / 0.04);
  --bw-3: oklch(0% 0 0 / 0.06);
  --bw-4: oklch(0% 0 0 / 0.09);
  --bw-5: oklch(0% 0 0 / 0.13);
  --bw-6: oklch(0% 0 0 / 0.18);
  --bw-7: oklch(0% 0 0 / 0.26);
  --bw-8: oklch(0% 0 0 / 0.38);
  --bw-9: oklch(0% 0 0 / 0.55);
  --bw-10: oklch(0% 0 0 / 0.75);
  --bw-11: oklch(0% 0 0 / 0.88);
  --bw-12: oklch(0% 0 0);

  --font-heading: var(--font-geist-sans);
  --font-sans: var(--font-geist-sans);
  --font-weight-subtle: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-strong: 500;
  --font-weight-heavy: 700;
  --font-weight-ultra: 800;
  --letter-spacing-tightest: -0.075rem;
  --letter-spacing-tighter: -0.05rem;
  --letter-spacing-tight: -0.025rem;
  --letter-spacing-normal: 0rem;
  --letter-spacing-wide: 0.0063rem;
  --font-size-body-sm: 0.75rem;
  --font-size-body-md: 0.875rem;
  --font-size-body-lg: 1rem;
  --font-size-heading-sm: 1.25rem;
  --font-size-heading-md: 1.5rem;
  --font-size-heading-lg: 2rem;
  --font-size-display-sm: 2.25rem;
  --font-size-display-md: 2.5rem;
  --font-size-display-lg: 3rem;
  --font-size-hero-sm: 3.75rem;
  --font-size-hero-md: 4.5rem;
  --font-size-hero-lg: 6rem;
  --font-size-hero-xl: 7rem;
  --line-height-snug: 1rem;
  --line-height-normal: 1.25rem;
  --line-height-relaxed: 1.5rem;
  --line-height-28: 1.75rem;
  --line-height-32: 2rem;
  --line-height-40: 2.5rem;
  --line-height-48: 3rem;
  --line-height-56: 3.5rem;
  --line-height-72: 4.5rem;
  --line-height-80: 5rem;
  --line-height-104: 6.5rem;
  --line-height-120: 7.5rem;

  --surface: var(--neutral-1);
  --surface-hover: var(--neutral-2);
  --surface-secondary: var(--neutral-2);
  --surface-secondary-hover: var(--neutral-3);
  --surface-tertiary: var(--neutral-3);
  --surface-tertiary-hover: var(--neutral-4);
  --surface-brand: var(--brand-9);
  --surface-inverse: var(--neutral-12);
  --surface-inverse-hover: var(--neutral-11);
  --surface-brand-hover: var(--brand-10);
  --surface-brand-subtle: var(--brand-3);
  --surface-brand-subtle-hover: var(--brand-4);
  --surface-brand-strong: var(--brand-12);
  --surface-brand-strong-hover: var(--brand-11);
  --surface-accent: var(--accent-9);
  --surface-accent-hover: var(--accent-10);
  --surface-accent-subtle: var(--accent-3);
  --surface-accent-subtle-hover: var(--accent-4);
  --surface-accent-strong: var(--accent-12);
  --surface-accent-strong-hover: var(--accent-11);
  --surface-danger: var(--danger-9);
  --surface-danger-hover: var(--danger-10);
  --surface-danger-subtle: var(--danger-3);
  --surface-danger-subtle-hover: var(--danger-4);
  --surface-success: var(--success-9);
  --surface-danger-strong: var(--danger-11);
  --surface-success-hover: var(--success-10);
  --surface-danger-strong-hover: var(--danger-12);
  --surface-success-subtle: var(--success-3);
  --surface-success-subtle-hover: var(--success-4);
  --surface-warning: var(--warning-9);
  --surface-success-strong: var(--success-11);
  --surface-warning-hover: var(--warning-10);
  --surface-success-strong-hover: var(--success-12);
  --surface-warning-subtle: var(--warning-3);
  --surface-warning-subtle-hover: var(--warning-4);
  --surface-disabled: var(--neutral-4);
  --surface-warning-strong: var(--warning-11);
  --surface-warning-strong-hover: var(--warning-12);
  --surface-disabled-secondary: var(--neutral-6);
  --text: var(--neutral-12);
  --text-subtle: var(--neutral-11);
  --text-subtlest: var(--neutral-9);
  --text-oninverse: var(--neutral-1);
  --text-ondisabled: var(--neutral-1);
  --text-brand: var(--brand-9);
  --text-brand-subtle: var(--brand-8);
  --text-brand-strong: var(--brand-12);
  --text-onbrand: var(--neutral-1);
  --text-onbrand-subtle: var(--white-10);
  --text-onbrand-subtlest: var(--white-9);
  --text-accent: var(--accent-11);
  --text-accent-subtle: var(--accent-8);
  --text-accent-strong: var(--accent-12);
  --text-onaccent: var(--black-12);
  --text-onaccent-subtle: var(--black-10);
  --text-onaccent-subtlest: var(--black-9);
  --text-danger: var(--danger-11);
  --text-danger-subtle: var(--danger-8);
  --text-ondanger: var(--white-12);
  --text-danger-strong: var(--danger-12);
  --text-ondanger-subtle: var(--white-10);
  --text-ondanger-subtlest: var(--white-8);
  --text-success: var(--success-11);
  --text-success-subtle: var(--success-8);
  --text-success-strong: var(--success-12);
  --text-onsuccess: var(--white-12);
  --text-onsuccess-subtle: var(--white-10);
  --text-onsuccess-subtlest: var(--white-8);
  --text-warning: var(--warning-11);
  --text-warning-subtle: var(--warning-8);
  --text-warning-strong: var(--warning-12);
  --text-onwarning: var(--warning-12);
  --text-disabled: var(--neutral-9);
  --text-onwarning-subtle: var(--warning-11);
  --text-onwarning-subtlest: var(--warning-10);
  --border: var(--neutral-3);
  --border-strong: var(--neutral-5);
  --border-strongest: var(--neutral-11);
  --border-brand: var(--brand-6);
  --border-brand-strong: var(--brand-9);
  --border-onbrand: var(--brand-8);
  --border-onbrand-subtle: var(--brand-6);
  --border-accent: var(--accent-6);
  --border-accent-strong: var(--accent-9);
  --border-onaccent: var(--accent-8);
  --border-onaccent-subtle: var(--accent-6);
  --border-danger: var(--danger-6);
  --border-danger-strong: var(--danger-9);
  --border-ondanger: var(--danger-8);
  --border-ondanger-subtle: var(--danger-6);
  --border-success: var(--success-6);
  --border-success-strong: var(--success-9);
  --border-onsuccess: var(--success-8);
  --border-onsuccess-subtle: var(--success-6);
  --border-warning: var(--warning-6);
  --border-warning-strong: var(--warning-9);
  --border-onwarning: var(--warning-8);
  --border-onwarning-strong: var(--warning-6);
  --ring: var(--neutral-6);
  --ring-brand: var(--brand-6);
  --ring-danger: var(--danger-8);
  --chart-1: var(--brand-8);
  --chart-2: var(--brand-7);
  --chart-3: var(--brand-6);
}

.dark {
  --neutral-1: oklch(15.43% 0 0);
  --neutral-2: oklch(20.9% 0 0);
  --neutral-3: oklch(25.2% 0 0);
  --neutral-4: oklch(28.09% 0 0);
  --neutral-5: oklch(31.32% 0 0);
  --neutral-6: oklch(34.85% 0 0);
  --neutral-7: oklch(40.17% 0 0);
  --neutral-8: oklch(48.91% 0 0);
  --neutral-9: oklch(53.48% 0 0);
  --neutral-10: oklch(57.95% 0 0);
  --neutral-11: oklch(76.68% 0 0);
  --neutral-12: oklch(94.91% 0 0);
  --brand-1: oklch(15.43% 0 0);
  --brand-2: oklch(20.9% 0 0);
  --brand-3: oklch(25.2% 0 0);
  --brand-4: oklch(28.09% 0 0);
  --brand-5: oklch(31.32% 0 0);
  --brand-6: oklch(34.85% 0 0);
  --brand-7: oklch(40.17% 0 0);
  --brand-8: oklch(48.91% 0 0);
  --brand-9: oklch(100% 0 0);
  --brand-10: oklch(48.55% 0 0);
  --brand-11: oklch(76.68% 0 0);
  --brand-12: oklch(94.91% 0 0);
  --accent-1: oklch(15.51% 0.0193 132.9);
  --accent-2: oklch(20.31% 0.0245 129.94);
  --accent-3: oklch(26.35% 0.044 129.23);
  --accent-4: oklch(31.63% 0.0607 130.67);
  --accent-5: oklch(36.21% 0.0733 129.53);
  --accent-6: oklch(41.14% 0.0888 130.29);
  --accent-7: oklch(46.41% 0.1024 129.74);
  --accent-8: oklch(52.33% 0.1205 130.08);
  --accent-9: oklch(88.36% 0.2241 130);
  --accent-10: oklch(85.22% 0.1997 130.01);
  --accent-11: oklch(86.72% 0.1995 129.94);
  --accent-12: oklch(94.61% 0.105 130.04);
  --danger-1: oklch(15.41% 0.0127 28.18);
  --danger-2: oklch(20.31% 0.0176 37.36);
  --danger-3: oklch(24.97% 0.0592 32.62);
  --danger-4: oklch(28.88% 0.0948 33.84);
  --danger-5: oklch(33.14% 0.1068 33.83);
  --danger-6: oklch(37.96% 0.1097 33.71);
  --danger-7: oklch(44.7% 0.1166 33.92);
  --danger-8: oklch(53.75% 0.1423 33.91);
  --danger-9: oklch(64.24% 0.2123 33.72);
  --danger-10: oklch(60.12% 0.2124 33.69);
  --danger-11: oklch(77% 0.1381 35.32);
  --danger-12: oklch(89.79% 0.0506 33.28);
  --success-1: oklch(15.41% 0.0157 154.2);
  --success-2: oklch(20.74% 0.0167 152.41);
  --success-3: oklch(26.68% 0.0382 151.08);
  --success-4: oklch(31.7% 0.0623 152.38);
  --success-5: oklch(36.44% 0.0724 152.48);
  --success-6: oklch(41.62% 0.0853 151.97);
  --success-7: oklch(46.66% 0.0967 152.15);
  --success-8: oklch(52.35% 0.1121 152.49);
  --success-9: oklch(65.95% 0.1678 152.32);
  --success-10: oklch(62.07% 0.1648 151.6);
  --success-11: oklch(77.94% 0.1679 152.16);
  --success-12: oklch(90.87% 0.0909 152.56);
  --warning-1: oklch(15.45% 0.0136 93.24);
  --warning-2: oklch(20.63% 0.0179 86.75);
  --warning-3: oklch(25.61% 0.0423 89.94);
  --warning-4: oklch(29.56% 0.0605 86.18);
  --warning-5: oklch(33.73% 0.069 86);
  --warning-6: oklch(38.75% 0.0763 90.3);
  --warning-7: oklch(45.34% 0.0789 90.41);
  --warning-8: oklch(53.51% 0.0932 89.03);
  --warning-9: oklch(86.81% 0.169 89.75);
  --warning-10: oklch(83.78% 0.1693 89.68);
  --warning-11: oklch(87.21% 0.1685 90.54);
  --warning-12: oklch(93.48% 0.0691 89.14);
  --black-1: oklch(0% 0 0 / 0.02);
  --black-2: oklch(0% 0 0 / 0.04);
  --black-3: oklch(0% 0 0 / 0.06);
  --black-4: oklch(0% 0 0 / 0.09);
  --black-5: oklch(0% 0 0 / 0.13);
  --black-6: oklch(0% 0 0 / 0.18);
  --black-7: oklch(0% 0 0 / 0.26);
  --black-8: oklch(0% 0 0 / 0.38);
  --black-9: oklch(0% 0 0 / 0.55);
  --black-10: oklch(0% 0 0 / 0.75);
  --black-11: oklch(0% 0 0 / 0.88);
  --black-12: oklch(0% 0 0);
  --white-1: oklch(100% 0 0 / 0.03);
  --white-2: oklch(100% 0 0 / 0.06);
  --white-3: oklch(100% 0 0 / 0.1);
  --white-4: oklch(100% 0 0 / 0.15);
  --white-5: oklch(100% 0 0 / 0.21);
  --white-6: oklch(100% 0 0 / 0.28);
  --white-7: oklch(100% 0 0 / 0.38);
  --white-8: oklch(100% 0 0 / 0.5);
  --white-9: oklch(100% 0 0 / 0.65);
  --white-10: oklch(100% 0 0 / 0.82);
  --white-11: oklch(100% 0 0 / 0.89);
  --white-12: oklch(100% 0 0);
  --bw-1: oklch(100% 0 0 / 0.03);
  --bw-2: oklch(100% 0 0 / 0.06);
  --bw-3: oklch(100% 0 0 / 0.1);
  --bw-4: oklch(100% 0 0 / 0.15);
  --bw-5: oklch(100% 0 0 / 0.21);
  --bw-6: oklch(100% 0 0 / 0.28);
  --bw-7: oklch(100% 0 0 / 0.38);
  --bw-8: oklch(100% 0 0 / 0.5);
  --bw-9: oklch(100% 0 0 / 0.65);
  --bw-10: oklch(100% 0 0 / 0.82);
  --bw-11: oklch(100% 0 0 / 0.89);
  --bw-12: oklch(100% 0 0);
}

@utility st-body-sm {
  font-family: var(--font-sans);
  font-size: var(--font-size-body-sm);
  line-height: var(--line-height-snug);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-wide);
}

@utility st-body-sm-strong {
  font-family: var(--font-sans);
  font-size: var(--font-size-body-sm);
  line-height: var(--line-height-snug);
  font-weight: var(--font-weight-strong);
  letter-spacing: var(--letter-spacing-wide);
}

@utility st-body-md {
  font-family: var(--font-sans);
  font-size: var(--font-size-body-md);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-normal);
}

@utility st-body-md-compact {
  font-family: var(--font-sans);
  font-size: var(--font-size-body-md);
  line-height: var(--line-height-snug);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-normal);
}

@utility st-body-md-strong {
  font-family: var(--font-sans);
  font-size: var(--font-size-body-md);
  line-height: var(--line-height-snug);
  font-weight: var(--font-weight-strong);
  letter-spacing: var(--letter-spacing-normal);
}

@utility st-body-lg {
  font-family: var(--font-sans);
  font-size: var(--font-size-body-lg);
  line-height: var(--line-height-relaxed);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-normal);
}

@utility st-body-lg-strong {
  font-family: var(--font-sans);
  font-size: var(--font-size-body-lg);
  line-height: var(--line-height-relaxed);
  font-weight: var(--font-weight-strong);
  letter-spacing: var(--letter-spacing-normal);
}

@utility st-heading-sm {
  font-family: var(--font-sans);
  font-size: var(--font-size-heading-sm);
  line-height: var(--line-height-28);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-tight);
}

@utility st-heading-md {
  font-family: var(--font-sans);
  font-size: var(--font-size-heading-md);
  line-height: var(--line-height-32);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-tight);
}

@utility st-heading-lg {
  font-family: var(--font-sans);
  font-size: var(--font-size-heading-lg);
  line-height: var(--line-height-40);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-tight);
}

@utility st-display-sm {
  font-family: var(--font-heading);
  font-size: var(--font-size-display-sm);
  line-height: var(--line-height-40);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-tighter);
}

@utility st-display-md {
  font-family: var(--font-heading);
  font-size: var(--font-size-display-md);
  line-height: var(--line-height-48);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-tighter);
}

@utility st-display-lg {
  font-family: var(--font-heading);
  font-size: var(--font-size-display-lg);
  line-height: var(--line-height-56);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-tighter);
}

@utility st-hero-sm {
  font-family: var(--font-heading);
  font-size: var(--font-size-hero-sm);
  line-height: var(--line-height-72);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-tightest);
}

@utility st-hero-md {
  font-family: var(--font-heading);
  font-size: var(--font-size-hero-md);
  line-height: var(--line-height-80);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-tightest);
}

@utility st-hero-lg {
  font-family: var(--font-heading);
  font-size: var(--font-size-hero-lg);
  line-height: var(--line-height-104);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-tightest);
}

@utility st-hero-xl {
  font-family: var(--font-heading);
  font-size: var(--font-size-hero-xl);
  line-height: var(--line-height-120);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-tightest);
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-surface text-text antialiased;
    font-feature-settings: "ss03";
  }
}
