# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# production
/build
/storybook-static

# ide
.vscode/

# misc
.DS_Store
Thumbs.db
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files (use .env.example to document required vars)
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo
