@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px); */

  --color-bg-surface: var(--bg-surface);
  --color-bg-surface-hover: var(--bg-surface-hover);
  --color-bg-surface-secondary: var(--bg-surface-secondary);
  --color-bg-surface-secondary-hover: var(--bg-surface-secondary-hover);
  --color-bg-surface-tertiary: var(--bg-surface-tertiary);
  --color-bg-surface-tertiary-hover: var(--bg-surface-tertiary-hover);
  --color-bg-surface-inverse: var(--bg-surface-inverse);
  --color-bg-brand: var(--bg-brand);
  --color-bg-brand-hover: var(--bg-brand-hover);
  --color-bg-brand-secondary: var(--bg-brand-secondary);
  --color-bg-brand-secondary-hover: var(--bg-brand-secondary-hover);
  --color-bg-brand-tertiary: var(--bg-brand-tertiary);
  --color-bg-brand-tertiary-hover: var(--bg-brand-tertiary-hover);
  --color-bg-accent: var(--bg-accent);
  --color-bg-accent-hover: var(--bg-accent-hover);
  --color-bg-accent-secondary: var(--bg-accent-secondary);
  --color-bg-accent-secondary-hover: var(--bg-accent-secondary-hover);
  --color-bg-accent-tertiary: var(--bg-accent-tertiary);
  --color-bg-accent-tertiary-hover: var(--bg-accent-tertiary-hover);
  --color-bg-danger: var(--bg-danger);
  --color-bg-danger-hover: var(--bg-danger-hover);
  --color-bg-danger-secondary: var(--bg-danger-secondary);
  --color-bg-danger-secondary-hover: var(--bg-danger-secondary-hover);
  --color-bg-danger-tertiary: var(--bg-danger-tertiary);
  --color-bg-danger-tertiary-hover: var(--bg-danger-tertiary-hover);
  --color-bg-success: var(--bg-success);
  --color-bg-success-hover: var(--bg-success-hover);
  --color-bg-success-secondary: var(--bg-success-secondary);
  --color-bg-success-secondary-hover: var(--bg-success-secondary-hover);
  --color-bg-success-tertiary: var(--bg-success-tertiary);
  --color-bg-success-tertiary-hover: var(--bg-success-tertiary-hover);
  --color-bg-warning: var(--bg-warning);
  --color-bg-warning-hover: var(--bg-warning-hover);
  --color-bg-warning-secondary: var(--bg-warning-secondary);
  --color-bg-warning-secondary-hover: var(--bg-warning-secondary-hover);
  --color-bg-warning-tertiary: var(--bg-warning-tertiary);
  --color-bg-warning-tertiary-hover: var(--bg-warning-tertiary-hover);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --color-text-disabled: var(--text-disabled);
  --color-text-oninverse: var(--text-oninverse);
  --color-text-ondisabled: var(--text-ondisabled);
  --color-text-brand: var(--text-brand);
  --color-text-brand-secondary: var(--text-brand-secondary);
  --color-text-brand-tertiary: var(--text-brand-tertiary);
  --color-text-onbrand: var(--text-onbrand);
  --color-text-onbrand-secondary: var(--text-onbrand-secondary);
  --color-text-onbrand-tertiary: var(--text-onbrand-tertiary);
  --color-text-accent: var(--text-accent);
  --color-text-accent-secondary: var(--text-accent-secondary);
  --color-text-accent-tertiary: var(--text-accent-tertiary);
  --color-text-onaccent: var(--text-onaccent);
  --color-text-onaccent-secondary: var(--text-onaccent-secondary);
  --color-text-onaccent-tertiary: var(--text-onaccent-tertiary);
  --color-bg-disabled: var(--bg-disabled);
  --color-text-danger: var(--text-danger);
  --color-text-danger-secondary: var(--text-danger-secondary);
  --color-text-danger-tertiary: var(--text-danger-tertiary);
  --color-text-ondanger: var(--text-ondanger);
  --color-text-ondanger-secondary: var(--text-ondanger-secondary);
  --color-text-ondanger-tertiary: var(--text-ondanger-tertiary);
  --color-text-success: var(--text-success);
  --color-text-success-secondary: var(--text-success-secondary);
  --color-text-success-tertiary: var(--text-success-tertiary);
  --color-text-onsuccess: var(--text-onsuccess);
  --color-text-onsuccess-secondary: var(--text-onsuccess-secondary);
  --color-text-onsuccess-tertiary: var(--text-onsuccess-tertiary);
  --color-bg-disabled-secondary: var(--bg-disabled-secondary);
  --color-text-warning: var(--text-warning);
  --color-text-warning-secondary: var(--text-warning-secondary);
  --color-text-warning-tertiary: var(--text-warning-tertiary);
  --color-text-onwarning: var(--text-onwarning);
  --color-text-onwarning-secondary: var(--text-onwarning-secondary);
  --color-text-onwarning-tertiary: var(--text-onwarning-tertiary);
  --color-border: var(--border);
  --color-border-secondary: var(--border-secondary);
  --color-border-tertiary: var(--border-tertiary);
  --color-border-brand: var(--border-brand);
  --color-border-brand-secondary: var(--border-brand-secondary);
  --color-border-onbrand: var(--border-onbrand);
  --color-border-onbrand-secondary: var(--border-onbrand-secondary);
  --color-border-accent: var(--border-accent);
  --color-border-accent-secondary: var(--border-accent-secondary);
  --color-border-onaccent: var(--border-onaccent);
  --color-border-onaccent-secondary: var(--border-onaccent-secondary);
  --color-border-danger: var(--border-danger);
  --color-border-danger-secondary: var(--border-danger-secondary);
  --color-border-ondanger: var(--border-ondanger);
  --color-border-ondanger-secondary: var(--border-ondanger-secondary);
  --color-border-success: var(--border-success);
  --color-border-success-secondary: var(--border-success-secondary);
  --color-border-onsuccess: var(--border-onsuccess);
  --color-border-onsuccess-secondary: var(--border-onsuccess-secondary);
  --color-border-warning: var(--border-warning);
  --color-border-warning-secondary: var(--border-warning-secondary);
  --color-border-onwarning: var(--border-onwarning);
  --color-border-onwarning-secondary: var(--border-onwarning-secondary);
}

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --radius: 0.625rem;
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    --brand-50: #f4f2ff;
    --accent-50: #f4f7f9;
    --accent-100: #ebf1f4;
    --accent-200: #dae5eb;
    --accent-300: #c3d5de;
    --accent-400: #aabfcf;
    --accent-500: #94aac0;
    --accent-600: #7d91ae;
    --accent-700: #667893;
    --accent-800: #58677b;
    --accent-900: #4b5764;
    --accent-950: #2c333a;
    --brand-100: #ece8ff;
    --brand-200: #dbd3ff;
    --brand-300: #c1b0ff;
    --brand-400: #a284ff;
    --brand-500: #8652ff;
    --brand-600: #782ff8;
    --brand-700: #6a1de4;
    --brand-800: #5a18c4;
    --brand-900: #49159d;
    --brand-950: #2b0b6a;
    --neutral-50: #f6f6f6;
    --neutral-100: #efefef;
    --neutral-200: #dcdcdc;
    --neutral-300: #bdbdbd;
    --neutral-400: #989898;
    --neutral-500: #7c7c7c;
    --neutral-600: #656565;
    --neutral-700: #525252;
    --neutral-800: #464646;
    --neutral-900: #3d3d3d;
    --neutral-950: #292929;
    --neutral-975: #2c2c2c;
    --danger-50: #fef3ee;
    --danger-100: #fee4d6;
    --danger-200: #fbc5ad;
    --danger-300: #f99d78;
    --danger-400: #f56a42;
    --danger-500: #f24822;
    --danger-600: #e32b13;
    --danger-700: #bc1c12;
    --danger-800: #961916;
    --danger-900: #791815;
    --danger-950: #41090a;
    --success-50: #f0fdf5;
    --success-100: #dbfdea;
    --success-200: #baf8d6;
    --success-300: #84f1b6;
    --success-400: #47e18e;
    --success-500: #1fc86e;
    --success-600: #14ae5c;
    --success-700: #138247;
    --success-800: #14673c;
    --success-900: #135433;
    --success-950: #042f1a;
    --warning-50: #fefbe8;
    --warning-100: #fff8c2;
    --warning-200: #ffee87;
    --warning-300: #ffdd43;
    --warning-400: #ffcd29;
    --warning-500: #efae03;
    --warning-600: #ce8500;
    --warning-700: #a45e04;
    --warning-800: #88490b;
    --warning-900: #733c10;
    --warning-950: #431e05;
    --black-50: #00000005;
    --black-100: #0000000a;
    --black-200: #0000000f;
    --black-300: #00000017;
    --black-400: #00000021;
    --black-500: #0000002e;
    --black-600: #00000042;
    --black-700: #00000061;
    --black-800: #0000008c;
    --black-900: #000000bf;
    --black-925: #000000e0;
    --black-950: #000000;
    --white-50: #ffffff08;
    --white-100: #ffffff0f;
    --white-200: #ffffff1a;
    --white-300: #ffffff26;
    --white-400: #ffffff36;
    --white-500: #ffffff47;
    --white-600: #ffffff61;
    --white-700: #ffffff80;
    --white-800: #ffffffa6;
    --white-900: #ffffffd1;
    --white-925: #ffffffe3;
    --white-950: #ffffff;

    --bg-surface: var(--white-950);
    --bg-surface-hover: var(--neutral-50);
    --bg-surface-secondary: var(--neutral-50);
    --bg-surface-secondary-hover: var(--neutral-100);
    --bg-surface-tertiary: var(--neutral-100);
    --bg-surface-tertiary-hover: var(--neutral-200);
    --bg-surface-inverse: var(--neutral-975);
    --bg-brand: var(--brand-700);
    --bg-brand-hover: var(--brand-800);
    --bg-brand-secondary: var(--brand-900);
    --bg-brand-secondary-hover: var(--brand-950);
    --bg-brand-tertiary: var(--brand-50);
    --bg-brand-tertiary-hover: var(--brand-100);
    --bg-accent: var(--accent-700);
    --bg-accent-hover: var(--accent-800);
    --bg-accent-secondary: var(--accent-800);
    --bg-accent-secondary-hover: var(--accent-900);
    --bg-accent-tertiary: var(--accent-50);
    --bg-accent-tertiary-hover: var(--accent-100);
    --bg-danger: var(--danger-500);
    --bg-danger-hover: var(--danger-600);
    --bg-danger-secondary: var(--danger-600);
    --bg-danger-secondary-hover: var(--danger-700);
    --bg-danger-tertiary: var(--danger-50);
    --bg-danger-tertiary-hover: var(--danger-100);
    --bg-success: var(--success-600);
    --bg-success-hover: var(--success-700);
    --bg-success-secondary: var(--success-700);
    --bg-success-secondary-hover: var(--success-800);
    --bg-success-tertiary: var(--success-50);
    --bg-success-tertiary-hover: var(--success-100);
    --bg-warning: var(--warning-400);
    --bg-warning-hover: var(--warning-500);
    --bg-warning-secondary: var(--warning-500);
    --bg-warning-secondary-hover: var(--warning-600);
    --bg-warning-tertiary: var(--warning-100);
    --bg-warning-tertiary-hover: var(--warning-200);
    --text: var(--black-925);
    --text-secondary: var(--black-800);
    --text-tertiary: var(--black-700);
    --text-disabled: var(--black-700);
    --text-oninverse: var(--white-950);
    --text-ondisabled: var(--white-950);
    --text-brand: var(--brand-700);
    --text-brand-secondary: var(--brand-900);
    --text-brand-tertiary: var(--brand-300);
    --text-onbrand: var(--white-950);
    --text-onbrand-secondary: var(--white-900);
    --text-onbrand-tertiary: var(--white-800);
    --text-accent: var(--accent-700);
    --text-accent-secondary: var(--accent-900);
    --text-accent-tertiary: var(--accent-300);
    --text-onaccent: var(--white-950);
    --text-onaccent-secondary: var(--white-900);
    --text-onaccent-tertiary: var(--white-800);
    --bg-disabled: var(--neutral-100);
    --text-danger: var(--danger-500);
    --text-danger-secondary: var(--danger-600);
    --text-danger-tertiary: var(--danger-300);
    --text-ondanger: var(--white-950);
    --text-ondanger-secondary: var(--white-900);
    --text-ondanger-tertiary: var(--white-700);
    --text-success: var(--success-600);
    --text-success-secondary: var(--success-700);
    --text-success-tertiary: var(--success-300);
    --text-onsuccess: var(--white-950);
    --text-onsuccess-secondary: var(--white-900);
    --text-onsuccess-tertiary: var(--white-700);
    --bg-disabled-secondary: var(--neutral-200);
    --text-warning: var(--warning-500);
    --text-warning-secondary: var(--warning-600);
    --text-warning-tertiary: var(--warning-100);
    --text-onwarning: var(--black-900);
    --text-onwarning-secondary: var(--black-800);
    --text-onwarning-tertiary: var(--black-700);
    --border: var(--neutral-100);
    --border-secondary: var(--neutral-200);
    --border-tertiary: var(--neutral-500);
    --border-brand: var(--brand-200);
    --border-brand-secondary: var(--brand-700);
    --border-onbrand: var(--brand-400);
    --border-onbrand-secondary: var(--brand-100);
    --border-accent: var(--accent-200);
    --border-accent-secondary: var(--accent-700);
    --border-onaccent: var(--accent-400);
    --border-onaccent-secondary: var(--accent-100);
    --border-danger: var(--danger-200);
    --border-danger-secondary: var(--danger-500);
    --border-ondanger: var(--danger-600);
    --border-ondanger-secondary: var(--danger-200);
    --border-success: var(--success-200);
    --border-success-secondary: var(--success-600);
    --border-onsuccess: var(--success-600);
    --border-onsuccess-secondary: var(--success-100);
    --border-warning: var(--warning-200);
    --border-warning-secondary: var(--warning-500);
    --border-onwarning: var(--warning-500);
    --border-onwarning-secondary: var(--warning-600);
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);

    --bg-surface: var(--neutral-975);
    --bg-surface-hover: var(--neutral-900);
    --bg-surface-secondary: var(--neutral-900);
    --bg-surface-secondary-hover: var(--neutral-800);
    --bg-surface-tertiary: var(--neutral-800);
    --bg-surface-tertiary-hover: var(--neutral-700);
    --bg-surface-inverse: var(--white-950);
    --bg-brand: var(--brand-800);
    --bg-brand-hover: var(--brand-700);
    --bg-brand-secondary-hover: var(--brand-800);
    --bg-accent: var(--accent-800);
    --bg-accent-hover: var(--accent-700);
    --bg-accent-secondary: var(--accent-900);
    --bg-accent-secondary-hover: var(--accent-800);
    --bg-danger: var(--danger-700);
    --bg-danger-hover: var(--danger-800);
    --bg-danger-secondary: var(--danger-900);
    --bg-danger-secondary-hover: var(--danger-800);
    --bg-success: var(--success-700);
    --bg-success-hover: var(--success-800);
    --bg-success-secondary: var(--success-800);
    --bg-success-secondary-hover: var(--success-900);
    --bg-success-tertiary: var(--success-900);
    --bg-success-tertiary-hover: var(--success-950);
    --bg-warning: var(--warning-500);
    --bg-warning-hover: var(--warning-600);
    --bg-warning-secondary: var(--warning-600);
    --bg-warning-secondary-hover: var(--warning-700);
    --text: var(--white-925);
    --text-secondary: var(--white-900);
    --text-tertiary: var(--white-800);
    --text-disabled: var(--white-700);
    --text-oninverse: var(--black-950);
    --text-ondisabled: var(--black-950);
    --text-brand: var(--brand-800);
    --text-brand-secondary: var(--brand-700);
    --text-brand-tertiary: var(--brand-500);
    --text-accent: var(--accent-800);
    --text-accent-secondary: var(--accent-700);
    --text-accent-tertiary: var(--accent-500);
    --bg-disabled: var(--neutral-700);
    --text-danger: var(--danger-700);
    --text-danger-secondary: var(--danger-900);
    --text-danger-tertiary: var(--danger-400);
    --text-success: var(--success-700);
    --text-success-secondary: var(--success-900);
    --text-success-tertiary: var(--success-400);
    --bg-disabled-secondary: var(--neutral-800);
    --text-warning: var(--warning-600);
    --text-warning-secondary: var(--warning-700);
    --text-warning-tertiary: var(--warning-300);
    --border: var(--neutral-700);
    --border-secondary: var(--neutral-500);
    --border-tertiary: var(--neutral-200);
    --border-brand: var(--brand-900);
    --border-onbrand: var(--brand-500);
    --border-onbrand-secondary: var(--brand-300);
    --border-accent: var(--accent-900);
    --border-onaccent: var(--accent-500);
    --border-onaccent-secondary: var(--accent-300);
    --border-danger: var(--danger-900);
    --border-danger-secondary: var(--danger-700);
    --border-ondanger: var(--danger-800);
    --border-ondanger-secondary: var(--danger-900);
    --border-success: var(--success-900);
    --border-success-secondary: var(--success-700);
    --border-onsuccess: var(--success-700);
    --border-onsuccess-secondary: var(--success-400);
    --border-warning: var(--warning-700);
    --border-warning-secondary: var(--warning-600);
    --border-onwarning: var(--warning-600);
    --border-onwarning-secondary: var(--warning-700);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

